services:
  app:
    build: .
    ports:
      - "8002:8001"
    volumes:
      - ./src:/var/www/src
      - ./public:/var/www/public
      - ./tests:/var/www/tests
    depends_on:
      - redis

  redis:
    image: redis:alpine
    ports:
      - "6379:6379"
